In [87]:
import pandas as pd
from nasspython import nass_api as na
# pip install nasspython: https://pypi.org/project/nasspython/

In [88]:
USDA_API_KEY = 'C6C2F629-A5BF-3F27-916A-4F15189AD588'

In [89]:
#na.nass_count(USDA_API_KEY, state_name = "NORTH CAROLINA", county_name = "WAKE")
#na.nass_param(USDA_API_KEY, param = "short_desc")
#na.nass_data(USDA_API_KEY, year = 2012, agg_level_desc = "COUNTY",short_desc = "AG LAND, INCL BUILDINGS - ASSET VALUE, MEASURED IN $")

In [90]:
# function inputs
state = 'MISSOURI'
start_yr = 2010
end_yr = 2020

In [91]:
# create list for years
year_list = [start_yr]
year = start_yr
while year < end_yr:
    year += 1
    year_list.append(year)
year_list

[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [92]:
vpa_list = []
for yr in year_list:
    # total acres: 'AG LAND, CROPLAND, HARVESTED - ACRES'
    # value per acre: 'AG LAND, CROPLAND - ASSET VALUE, MEASURED IN $ / ACRE'
    data = na.nass_data(USDA_API_KEY, year = yr, 
                        agg_level_desc = "STATE", 
                        short_desc = "AG LAND, CROPLAND - ASSET VALUE, MEASURED IN $ / ACRE"
                       )
    df = pd.DataFrame(data['data']).set_index("state_name")
    vpa = df.loc[state,'Value']
    vpa_list.append(vpa)
vpa_list
df = pd.DataFrame({'Year':year_list,'$/acre':vpa_list}).set_index('Year')
df

     $/acre
Year
2010  2,600
2011  2,790
2012  3,120
2013  3,500
2014  3,750
2015  3,680
2016  3,570
2017  3,560
2018  3,490
2019  3,490
2020  3,530